h1 {
	font-size: 20px;
	font-weight: 300;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #666;
	font-family: Cambria, Georgia, serif;
	font-style: italic;
}

h4 {
	font-size: 20px;
	font-weight: 300;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #666;
	font-family: Cambria, Georgia, serif;
	font-style: italic;
}

#col1 {
float: left;
width: 70%;
margin-bottom: 1em;
padding-right: 3%;
line-height : 2em;
}

#col2 {
float: left;
width: 30%;
margin-bottom: 1em;
padding-right: 3%;
line-height : 2em;
}