header {
    color: blue;
    margin-top: -10px;
    margin-bottom: -60px;
    text-align:left;
    padding:5px;
    font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
    position: relative;

}

hr{
	width:0%
}

img#logo{
	padding-bottom: 20px;
}

img#mascot {
  margin-top: 30px;
  margin-left: 500px;
  position: absolute; 
}

#cloudbubble {
  margin-top: 30px;
  position: absolute;
}

#masterbearspeaks {
  margin-top: 50px;
  margin-left: 90px;
  position: absolute;
  width: 400px;
  font-size: 13pt;
}

.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  background-color: #0099CC;
}

nav a, nav a:visited, nav a:hover, nav a:active {
  color: white;
  text-decoration: none;
  padding: .5em;
  background: -moz-linear-gradient(#466EBF, #6699FF);
  background: -ms-linear-gradient(#466EBF, #6699FF);
  background: -o-linear-gradient(#466EBF, #6699FF);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#466EBF), to(#6699FF));
  background: -webkit-linear-gradient(#466EBF, #6699FF);
  background: linear-gradient(#466EBF, #6699FF);;
}

h2 {
	color: purple;
	text-align: left;
	font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
}

body#base {
	padding-left: 10px;
	padding-right: 20px;
	background: -moz-linear-gradient(#EDFEAE, #DBFEAE);
	background: -ms-linear-gradient(#EDFEAE, #DBFEAE);
	background: -o-linear-gradient(#EDFEAE, #DBFEAE);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#EDFEAE), to(#DBFEAE));
	background: -webkit-linear-gradient(#EDFEAE, #DBFEAE);
	background: linear-gradient(#EDFEAE, #DBFEAE);
  	position: relative;
	margin: 0;
	padding-bottom: 4rem;
	min-height: 100%;
}

ul#prevandnext li{
	display:inline;
}

label{
  margin-top: 6px;
  font-size: 20px;
}

html{
	height:100%;
}


footer p{
	width: 100%;
	text-align: center;
	font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
	position:absolute;
	bottom:0;
	
}

